<a href="https://colab.research.google.com/github/Anne340/IP_Week_4/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_02_Anne_Njoroge_DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PREVIEWING OUR DATASET**

In [ ]:
#Loading csv
df = pd.read_csv('http://bit.ly/autolib_dataset')
df.tail()

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

In [ ]:
#getting the info of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
df.describe()

In [ ]:
#Getting which months appear in the data frame
df.month.value_counts()

4    5000
Name: month, dtype: int64

**CLEANING OUR DATASET**

**VALIDITY**

In [ ]:
#droping columns that are not useful for our study
# we drop the car column because it is redundant with Bluecar counter, always the same value
df = df.drop(['year', 'month', 'Cars'], axis = 1)
df.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 22 columns]

**COMPLETENESS**

In [ ]:
# Checking if there is any missing value in dataframe as a whole
df.isnull()

      Address  Bluecar counter  Utilib counter  ...    day   hour  minute
0       False            False           False  ...  False  False   False
1       False            False           False  ...  False  False   False
2       False            False           False  ...  False  False   False
3       False            False           False  ...  False  False   False
4       False            False           False  ...  False  False   False
...       ...              ...             ...  ...    ...    ...     ...
4995    False            False           False  ...  False  False   False
4996    False            False           False  ...  False  False   False
4997    False            False           False  ...  False  False   False
4998    False            False           False  ...  False  False   False
4999    False            False           False  ...  False  False   False

[5000 rows x 22 columns]

In [ ]:
# dropping the columns with null values 
df = df.dropna(axis=1)
df.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 20 columns]

In [ ]:
#confirming if null values have been dropped
df.isnull().sum()

Address                0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
day                    0
hour                   0
minute                 0
dtype: int64

In [ ]:
#checking the number of not null values in our data set
df.notnull().sum()

Address                5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
Charge Slots           5000
Charging Status        5000
City                   5000
ID                     5000
Kind                   5000
Geo point              5000
Postal code            5000
Public name            5000
Rental status          5000
Slots                  5000
Station type           5000
Status                 5000
Subscription status    5000
day                    5000
hour                   5000
minute                 5000
dtype: int64

**IMPROVING CONSISTENCY**

In [ ]:
#checking for duplicates and dropping if any
df.duplicated().sum()
df.drop_duplicates(inplace=True)
df.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 20 columns]

**ENHANCING UNIFORMITY**

In [ ]:
#Maintaining uniformity in the column names
df.columns = df.columns.str.upper()
df.head()

                              ADDRESS  BLUECAR COUNTER  ...  HOUR  MINUTE
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 20 columns]

DERIVING NEW ATTRIBUTES

In [ ]:
# Creating a new column where we find the difference in the number of bluecars at the station/counter

df['BLUECAR DIFFERENCE'] = df['BLUECAR COUNTER'].diff()
df['UTILIB DIFF'] = df['UTILIB COUNTER'].diff()
df['UTILIB 1.4 DIFF'] = df['UTILIB 1.4 COUNTER'].diff()
df = df.sort_values(["HOUR"], ascending=False)
df.head()

                            ADDRESS  ...  UTILIB 1.4 DIFF
581          65 boulevard de Picpus  ...              NaN
880              44 Avenue George V  ...              0.0
3521          46 Avenue de Villiers  ...              0.0
4585  24 rue du Pont Louis-Philippe  ...              0.0
2043       12 bis Route de la Reine  ...              1.0

[5 rows x 25 columns]

BLUE CAR DIFFERENCE IS NEGATIVE WHEN A CAR IS TAKEN

# DATA ANALYSIS

In [ ]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

city_filter = df[(df['CITY'] =='Paris') & (df['RENTAL STATUS'] == 'operational') & (df['BLUECAR DIFFERENCE'] < 0)]
city_filter

#Group by hour to find the most used bluecars
popular_hour = city_filter.groupby(['HOUR'])['BLUECAR DIFFERENCE'].sum().sort_values(ascending = True)
popular_hour.head()


#The most popular hour is 21. It has 193 cars

HOUR
21   -193.0
20   -175.0
7    -172.0
5    -170.0
16   -162.0
Name: BLUECAR DIFFERENCE, dtype: float64

In [ ]:
#What is the most popular hour for returning cars?

return_cars = df[(df['RENTAL STATUS'] == 'operational') & (df['BLUECAR DIFFERENCE'] > 0)]
return_cars

return_cars_hour = return_cars.groupby(['HOUR'])['BLUECAR DIFFERENCE'].sum().sort_values(ascending = False)
return_cars_hour.head()

#hOUR 6 IS THE MOST POPULAR WITH 313 CARS RETURNED

HOUR
6     313.0
5     287.0
12    279.0
2     276.0
3     269.0
Name: BLUECAR DIFFERENCE, dtype: float64

In [ ]:
#What station is the most popular?
#Overall?
pop = df[(df['KIND'] == 'STATION') & (df['STATUS'] == 'ok')].groupby('PUBLIC NAME')['PUBLIC NAME'].count().sort_values(ascending= False)
pop.head()

#Paris/Porte de Montrouge/8  IS THE MOST POPULAR STATION

PUBLIC NAME
Paris/Porte de Montrouge/8    13
Paris/Voltaire/182            11
SÃ¨vres/WolfenbÃ¼ttel/1       11
Paris/Philippe Auguste/126    11
Paris/Mathis/35               11
Name: PUBLIC NAME, dtype: int64

In [ ]:
#At the most popular picking hour?

#Getting the most popular hour for picking cars
city_filter = df[(df['RENTAL STATUS'] == 'operational') & (df['BLUECAR DIFFERENCE'] < 0)]
city_filter

#Group by hour to find the most used bluecars
popular_hour = city_filter.groupby(['HOUR'])['BLUECAR DIFFERENCE'].sum().sort_values(ascending = True)
popular_hour.head()

#21HRS IS THE MOST POPULAR HOUR FOR PICKING CARS

HOUR
21   -252.0
19   -242.0
20   -229.0
16   -229.0
18   -222.0
Name: BLUECAR DIFFERENCE, dtype: float64

In [ ]:
#getting the station with the most popular hour
station = df[(df['KIND'] == 'STATION') & (df['STATUS'] == 'ok') & (df['HOUR'] == 21)].groupby('PUBLIC NAME')['PUBLIC NAME'].count().sort_values(ascending= False)
station.head()

#Paris/Tronchet/19 IS THE STATION WITH THE MOST POPULAR HOUR

PUBLIC NAME
Paris/Tronchet/19          4
Paris/Voltaire/182         3
Nanterre/Pablo Neruda/6    2
Paris/HÃ´pital/47          2
Paris/Saint-MandÃ©/94      2
Name: PUBLIC NAME, dtype: int64

In [ ]:
#What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
#Overall?
popular_code = df[(df['KIND'] == 'STATION') & (df['STATUS'] == 'ok') & (df['BLUECAR DIFFERENCE'] < 0)].groupby('POSTAL CODE')['POSTAL CODE'].count().sort_values(ascending = False)
popular_code.head()

# 75008 is the most popular for picking up Blue cars

POSTAL CODE
75008    93
75015    90
75017    82
75012    76
75013    72
Name: POSTAL CODE, dtype: int64

In [ ]:
#At the most popular picking hour?
popular_code = df[(df['KIND'] == 'STATION') & (df['STATUS'] == 'ok') & (df['BLUECAR DIFFERENCE'] < 0) & (df['HOUR'] == 21)].groupby('POSTAL CODE')['POSTAL CODE'].count().sort_values(ascending = False)
popular_code.head()

# 75008 IS THE MOST POPULAR POSTAL CODE At the most popular picking hour

POSTAL CODE
75008    9
75011    6
75012    5
75013    5
75014    5
Name: POSTAL CODE, dtype: int64

# UTILIB ANALYSIS

In [ ]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

In [ ]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

city_filter = df[(df['CITY'] =='Paris') & (df['RENTAL STATUS'] == 'operational') & (df['UTILIB DIFF'] < 0)]
city_filter

#Group by hour to find the most used bluecars
popular_hour = city_filter.groupby(['HOUR'])['UTILIB DIFF'].sum().sort_values(ascending = True)
popular_hour.head()


#The most popular hour is 13. It has 171 cars

HOUR
3    -11.0
21   -10.0
7    -10.0
1     -9.0
22    -9.0
Name: UTILIB DIFF, dtype: float64

In [ ]:
#What is the most popular hour for returning cars?

return_cars = df[(df['RENTAL STATUS'] == 'operational') & (df['UTILIB DIFF'] > 0)]
return_cars

return_cars_hour = return_cars.groupby(['HOUR'])['UTILIB DIFF'].sum().sort_values(ascending = False)
return_cars_hour.head()

HOUR
8     19.0
7     16.0
3     15.0
5     15.0
18    14.0
Name: UTILIB DIFF, dtype: float64

In [ ]:
#What station is the most popular?
#Overall?
pop = df[(df['KIND'] == 'STATION') & (df['STATUS'] == 'ok')].groupby('PUBLIC NAME')['PUBLIC NAME'].count().sort_values(ascending= False)
pop.head()

PUBLIC NAME
Paris/Porte de Montrouge/8    13
Paris/Voltaire/182            11
SÃ¨vres/WolfenbÃ¼ttel/1       11
Paris/Philippe Auguste/126    11
Paris/Mathis/35               11
Name: PUBLIC NAME, dtype: int64

In [ ]:
#At the most popular picking hour?

#Getting the most popular hour for picking cars
city_filter = df[(df['RENTAL STATUS'] == 'operational') & (df['UTILIB DIFF'] < 0)]
city_filter

#Group by hour to find the most used bluecars
popular_hour = city_filter.groupby(['HOUR'])['UTILIB DIFF'].sum().sort_values(ascending = True)
popular_hour.head()

HOUR
8    -16.0
5    -15.0
7    -15.0
3    -14.0
18   -13.0
Name: UTILIB DIFF, dtype: float64

In [ ]:
#getting the station with the most popular hour
station = df[(df['KIND'] == 'STATION') & (df['STATUS'] == 'ok') & (df['HOUR'] == 21)].groupby('PUBLIC NAME')['PUBLIC NAME'].count().sort_values(ascending= False)
station.head()

PUBLIC NAME
Paris/Tronchet/19          4
Paris/Voltaire/182         3
Nanterre/Pablo Neruda/6    2
Paris/HÃ´pital/47          2
Paris/Saint-MandÃ©/94      2
Name: PUBLIC NAME, dtype: int64

In [ ]:
#What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
#Overall?
popular_code = df[(df['KIND'] == 'STATION') & (df['STATUS'] == 'ok') & (df['UTILIB DIFF'] < 0)].groupby('POSTAL CODE')['POSTAL CODE'].count().sort_values(ascending = False)
popular_code.head()

POSTAL CODE
75015    19
75017    12
75014    12
75011    10
75008     9
Name: POSTAL CODE, dtype: int64

In [ ]:
#At the most popular picking hour?
popular_code = df[(df['KIND'] == 'STATION') & (df['STATUS'] == 'ok') & (df['UTILIB DIFF'] < 0) & (df['HOUR'] == 21)].groupby('POSTAL CODE')['POSTAL CODE'].count().sort_values(ascending = False)
popular_code.head()

POSTAL CODE
75014    2
75003    1
75004    1
75005    1
75011    1
Name: POSTAL CODE, dtype: int64

#UTILIB 1.4 DIFF

In [ ]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

city_filter = df[(df['CITY'] =='Paris') & (df['RENTAL STATUS'] == 'operational') & (df['UTILIB 1.4 DIFF'] < 0)]
city_filter

#Group by hour to find the most used bluecars
popular_hour = city_filter.groupby(['HOUR'])['UTILIB 1.4 DIFF'].sum().sort_values(ascending = True)
popular_hour.head()


#The most popular hour is 13. It has 171 cars

HOUR
5    -18.0
10   -18.0
3    -17.0
9    -16.0
21   -15.0
Name: UTILIB 1.4 DIFF, dtype: float64

In [ ]:
#What is the most popular hour for returning cars?

return_cars = df[(df['RENTAL STATUS'] == 'operational') & (df['UTILIB 1.4 DIFF'] > 0)]
return_cars

return_cars_hour = return_cars.groupby(['HOUR'])['UTILIB 1.4 DIFF'].sum().sort_values(ascending = False)
return_cars_hour.head()

HOUR
5     31.0
14    30.0
3     29.0
9     29.0
10    29.0
Name: UTILIB 1.4 DIFF, dtype: float64

In [ ]:
#What station is the most popular?
#Overall?
pop = df[(df['KIND'] == 'STATION') & (df['STATUS'] == 'ok')].groupby('PUBLIC NAME')['PUBLIC NAME'].count().sort_values(ascending= False)
pop.head()

PUBLIC NAME
Paris/Porte de Montrouge/8    13
Paris/Voltaire/182            11
SÃ¨vres/WolfenbÃ¼ttel/1       11
Paris/Philippe Auguste/126    11
Paris/Mathis/35               11
Name: PUBLIC NAME, dtype: int64

In [ ]:
#At the most popular picking hour?

#Getting the most popular hour for picking cars
city_filter = df[(df['RENTAL STATUS'] == 'operational') & (df['UTILIB 1.4 DIFF'] < 0)]
city_filter

#Group by hour to find the most used bluecars
popular_hour = city_filter.groupby(['HOUR'])['UTILIB 1.4 DIFF'].sum().sort_values(ascending = True)
popular_hour.head()

HOUR
3    -29.0
10   -28.0
5    -26.0
9    -25.0
22   -25.0
Name: UTILIB 1.4 DIFF, dtype: float64

In [ ]:
#getting the station with the most popular hour
station = df[(df['KIND'] == 'STATION') & (df['STATUS'] == 'ok') & (df['HOUR'] == 21)].groupby('PUBLIC NAME')['PUBLIC NAME'].count().sort_values(ascending= False)
station.head()

PUBLIC NAME
Paris/Tronchet/19          4
Paris/Voltaire/182         3
Nanterre/Pablo Neruda/6    2
Paris/HÃ´pital/47          2
Paris/Saint-MandÃ©/94      2
Name: PUBLIC NAME, dtype: int64

In [ ]:
#What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
#Overall?
popular_code = df[(df['KIND'] == 'STATION') & (df['STATUS'] == 'ok') & (df['UTILIB 1.4 DIFF'] < 0)].groupby('POSTAL CODE')['POSTAL CODE'].count().sort_values(ascending = False)
popular_code.head()

POSTAL CODE
75012    22
75015    20
75016    18
75011    17
75008    16
Name: POSTAL CODE, dtype: int64

In [ ]:
#At the most popular picking hour?
popular_code = df[(df['KIND'] == 'STATION') & (df['STATUS'] == 'ok') & (df['UTILIB 1.4 DIFF'] < 0) & (df['HOUR'] == 21)].groupby('POSTAL CODE')['POSTAL CODE'].count().sort_values(ascending = False)
popular_code.head()

POSTAL CODE
75012    3
75015    3
75013    2
75001    1
75006    1
Name: POSTAL CODE, dtype: int64